* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.home h2 {
  margin-bottom: 30px;
  font-size: 62px;
}
.create_form input {
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  padding: 10px 15px;
  outline: none;
}
.create_form button {
  padding: 10px 15px;
 
  background: black;
  color: white;
  cursor: pointer;
}
.todos {
  margin-top: 30px;
}

.task{
  display: flex;
  align-items: center;
  width: 345px;
  justify-content: space-between;
  background: black;
  color: white;
  height: 35px;
  padding: 2px 5px;
  margin-top: 10px;

}
.line-through{
  text-decoration: line-through;
}
.checkbox{
  display: flex;
 
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 8px;
}


.checkbox .icon{
  margin-right: 5px;
  font-size: 15px;
}

.task div span {
  margin: 0px 5px 0px 4px;
}

 .delIcon{
  cursor: pointer;
  flex-shrink: 0;
}